<h2>Editing Collections</h2>

<%= render "form" , collection: @collection%>

<br>
<div>
  <%= link_to "Show this collection", @collection %>
  <%= link_to "back to collections", collections_path %>
</div>