<h1>Pages#home</h1>
<p>test navigation</p>



<div id="brands" style="display:grid;grid-template-columns: auto auto auto auto;border:1px solid #d6d6d6;padding:5px;width:auto;">


  <% @brands.each do |brand| %>
    <div class="img" style="padding:5px;height:180px;display: flex;justify-content: center;align-items: center;border:1px solid navy">
      <%= link_to image_tag(brand.image_as_thumbnail), brand  %>
    </div>

  <% end %>
</div>
